body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#ar_diseño1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#diseño1
{
   box-sizing: border-box;
   padding: 15px 15px 15px 15px;
   margin-right: auto;
   margin-left: auto;
}
#diseño1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#diseño1 > .row > .col-1
{
   float: left;
}
#diseño1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#diseño1 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 8px;
}
#diseño1:before,
#diseño1:after,
#diseño1 .row:before,
#diseño1 .row:after
{
   display: table;
   content: " ";
}
#diseño1:after,
#diseño1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#diseño1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ar_cc1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#cc1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#cc1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   color: #8FB996;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 37px;
}
#cc1-card-item1
{
   display: inline-block;
   height: 15px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #6B817B;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 15px;
}
#cc1-card-item1 a
{
   color: #6B817B;
   text-decoration: none;
}
#cc1-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc1-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #6B817B;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 15px;
}
#cc1-card-item4
{
   box-sizing: border-box;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc1-card-item5
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 0;
   border-top: 1px #ADC9C4 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#diseño2
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#diseño2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño2 > .row > .col-1, #diseño2 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#diseño2 > .row > .col-1, #diseño2 > .row > .col-2
{
   float: left;
}
#diseño2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#diseño2 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 8px;
}
#diseño2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#diseño2 > .row > .col-2 > .col-2-padding
{
   padding: 8px 0px 0px 8px;
}
#diseño2:before,
#diseño2:after,
#diseño2 .row:before,
#diseño2 .row:after
{
   display: table;
   content: " ";
}
#diseño2:after,
#diseño2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#diseño2 > .row > .col-1, #diseño2 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#ar_cc2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #C1CEC8;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 15px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#cc2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#cc2-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc2-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc2-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc2-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc2-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc2-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_cc3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #C1CEC8;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 15px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#cc3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#cc3-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc3-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc3-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc3-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc3-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc3-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#diseño3
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#diseño3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#diseño3 > .row > .col-1
{
   float: left;
}
#diseño3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#diseño3 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 8px;
}
#diseño3:before,
#diseño3:after,
#diseño3 .row:before,
#diseño3 .row:after
{
   display: table;
   content: " ";
}
#diseño3:after,
#diseño3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#diseño3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ar_cc4
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #C1CEC8;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 15px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#cc4-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#cc4-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc4-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc4-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc4-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc4-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc4-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#diseño4
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#diseño4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#diseño4 > .row > .col-1
{
   float: left;
}
#diseño4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#diseño4 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 15px;
}
#diseño4:before,
#diseño4:after,
#diseño4 .row:before,
#diseño4 .row:after
{
   display: table;
   content: " ";
}
#diseño4:after,
#diseño4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#diseño4 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ar_cc1
{
   display: flex;
   width: 100%;
   z-index: 0;
}
#ar_cc3
{
   display: flex;
   width: 100%;
   z-index: 2;
}
#ar_cc2
{
   display: flex;
   width: 100%;
   z-index: 1;
}
#ar_cc4
{
   display: flex;
   width: 100%;
   z-index: 3;
}
@media only screen and (min-width: 700px) and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#ar_diseño1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño1
{
   padding: 15px 15px 15px 15px;
}
#diseño1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño1 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño1 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 8px;
}
#ar_cc1
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 3px;
   margin: 0;
}
#cc1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   color: #8FB996;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 37px;
}
#cc1-card-item1
{
   display: inline-block;
   height: 15px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #6B817B;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 15px;
}
#cc1-card-item1 a
{
   color: #6B817B;
   text-decoration: none;
}
#cc1-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc1-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #6B817B;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 15px;
}
#cc1-card-item4
{
   box-sizing: border-box;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc1-card-item5
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 0;
   border-top: 1px #ADC9C4 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño2
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño2
{
   padding: 0px 15px 0px 15px;
}
#diseño2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño2 > .row > .col-1, #diseño2 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño2 > .row > .col-1
{
   display: block;
   width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño2 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 8px;
}
#diseño2 > .row > .col-2
{
   display: block;
   width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño2 > .row > .col-2 > .col-2-padding
{
   padding: 8px 0px 0px 8px;
}
#ar_cc2
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #C1CEC8;
   background-image: none;
   border-radius: 15px;
   margin: 0;
}
#cc2-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc2-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc2-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc2-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc2-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc2-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_cc3
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #C1CEC8;
   background-image: none;
   border-radius: 15px;
   margin: 0;
}
#cc3-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc3-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc3-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc3-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc3-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc3-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño3
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño3
{
   padding: 0px 15px 0px 15px;
}
#diseño3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño3 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 8px;
}
#ar_cc4
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #C1CEC8;
   background-image: none;
   border-radius: 15px;
   margin: 0;
}
#cc4-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc4-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc4-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc4-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc4-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc4-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño4
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño4
{
   padding: 0px 15px 0px 15px;
}
#diseño4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño4 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño4 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 15px;
}
}
@media only screen and (min-width: 425px) and (max-width: 699px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#ar_diseño1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño1
{
   padding: 15px 15px 15px 15px;
}
#diseño1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño1 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño1 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 8px;
}
#ar_cc1
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 3px;
   margin: 0;
}
#cc1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   color: #8FB996;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 37px;
}
#cc1-card-item1
{
   display: inline-block;
   height: 15px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #6B817B;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 15px;
}
#cc1-card-item1 a
{
   color: #6B817B;
   text-decoration: none;
}
#cc1-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc1-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #6B817B;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 15px;
}
#cc1-card-item4
{
   box-sizing: border-box;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc1-card-item5
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 0;
   border-top: 1px #ADC9C4 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño2
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño2
{
   padding: 0px 15px 0px 15px;
}
#diseño2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño2 > .row > .col-1, #diseño2 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño2 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 8px;
}
#diseño2 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño2 > .row > .col-2 > .col-2-padding
{
   padding: 8px 0px 0px 8px;
}
#ar_cc2
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #C1CEC8;
   background-image: none;
   border-radius: 15px;
   margin: 0;
}
#cc2-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc2-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc2-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc2-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc2-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc2-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_cc3
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #C1CEC8;
   background-image: none;
   border-radius: 15px;
   margin: 0;
}
#cc3-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc3-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc3-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc3-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc3-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc3-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño3
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño3
{
   padding: 0px 15px 0px 15px;
}
#diseño3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño3 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 8px;
}
#ar_cc4
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #C1CEC8;
   background-image: none;
   border-radius: 15px;
   margin: 0;
}
#cc4-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc4-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc4-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc4-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc4-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc4-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño4
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño4
{
   padding: 0px 15px 0px 15px;
}
#diseño4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño4 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño4 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 15px;
}
}
@media only screen and (min-width: 384px) and (max-width: 424px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#ar_diseño1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño1
{
   padding: 15px 15px 15px 15px;
}
#diseño1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño1 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño1 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 8px;
}
#ar_cc1
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 3px;
   margin: 0;
}
#cc1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   color: #8FB996;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 37px;
}
#cc1-card-item1
{
   display: inline-block;
   height: 15px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #6B817B;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 15px;
}
#cc1-card-item1 a
{
   color: #6B817B;
   text-decoration: none;
}
#cc1-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc1-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #6B817B;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 15px;
}
#cc1-card-item4
{
   box-sizing: border-box;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc1-card-item5
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 0;
   border-top: 1px #ADC9C4 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño2
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño2
{
   padding: 0px 15px 0px 15px;
}
#diseño2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño2 > .row > .col-1, #diseño2 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño2 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 8px;
}
#diseño2 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño2 > .row > .col-2 > .col-2-padding
{
   padding: 8px 0px 0px 8px;
}
#ar_cc2
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #C1CEC8;
   background-image: none;
   border-radius: 15px;
   margin: 0;
}
#cc2-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc2-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc2-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc2-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc2-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc2-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_cc3
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #C1CEC8;
   background-image: none;
   border-radius: 15px;
   margin: 0;
}
#cc3-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc3-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc3-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc3-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc3-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc3-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño3
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño3
{
   padding: 0px 15px 0px 15px;
}
#diseño3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño3 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 8px;
}
#ar_cc4
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #C1CEC8;
   background-image: none;
   border-radius: 15px;
   margin: 0;
}
#cc4-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc4-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc4-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc4-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc4-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc4-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño4
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño4
{
   padding: 0px 15px 0px 15px;
}
#diseño4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño4 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño4 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 15px;
}
}
@media only screen and (max-width: 383px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#ar_diseño1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño1
{
   padding: 15px 15px 15px 15px;
}
#diseño1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño1 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño1 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 8px;
}
#ar_cc1
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 3px;
   margin: 0;
}
#cc1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   color: #8FB996;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 37px;
}
#cc1-card-item1
{
   display: inline-block;
   height: 15px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #6B817B;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 15px;
}
#cc1-card-item1 a
{
   color: #6B817B;
   text-decoration: none;
}
#cc1-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc1-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #6B817B;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 15px;
}
#cc1-card-item4
{
   box-sizing: border-box;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc1-card-item5
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 0;
   border-top: 1px #ADC9C4 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño2
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño2
{
   padding: 0px 15px 0px 15px;
}
#diseño2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño2 > .row > .col-1, #diseño2 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño2 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 8px;
}
#diseño2 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño2 > .row > .col-2 > .col-2-padding
{
   padding: 8px 0px 0px 8px;
}
#ar_cc2
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #C1CEC8;
   background-image: none;
   border-radius: 15px;
   margin: 0;
}
#cc2-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc2-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc2-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc2-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc2-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc2-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_cc3
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #C1CEC8;
   background-image: none;
   border-radius: 15px;
   margin: 0;
}
#cc3-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc3-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc3-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc3-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc3-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc3-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño3
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño3
{
   padding: 0px 15px 0px 15px;
}
#diseño3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño3 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 8px;
}
#ar_cc4
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #C1CEC8;
   background-image: none;
   border-radius: 15px;
   margin: 0;
}
#cc4-card-item0
{
   box-sizing: border-box;
   border-radius: 15px 15px 0 0;
   margin: 15px 0px 0px 15px;
   padding: 0;
   color: #1A5545;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 19px;
}
#cc4-card-item1
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc4-card-item1 a
{
   color: #576A66;
   text-decoration: none;
}
#cc4-card-item2
{
   box-sizing: border-box;
   margin: 0;
   border-top: 8px transparent solid;
   border-width: 8px 0 0 0;
   height: 0;
   line-height: 0;
}
#cc4-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 0px 15px;
   padding: 0;
   color: #576A66;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
}
#cc4-card-item4
{
   box-sizing: border-box;
   border-radius: 0 0 15px 15px;
   margin: 0;
   border-top: 16px transparent solid;
   border-width: 16px 0 0 0;
   height: 0;
   line-height: 0;
}
#ar_diseño4
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño4
{
   padding: 0px 15px 0px 15px;
}
#diseño4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño4 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño4 > .row > .col-1 > .col-1-padding
{
   padding: 8px 0px 0px 15px;
}
}
