body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: "IBM Plex Sans";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#ar_diseño8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #8FB996;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#diseño8
{
   box-sizing: border-box;
   padding: 5px 15px 5px 15px;
   margin-right: auto;
   margin-left: auto;
}
#diseño8 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño8 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#diseño8 > .row > .col-1
{
   float: left;
}
#diseño8 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#diseño8 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 15px;
}
#diseño8:before,
#diseño8:after,
#diseño8 .row:before,
#diseño8 .row:after
{
   display: table;
   content: " ";
}
#diseño8:after,
#diseño8 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#diseño8 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ar_diseño1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #A1CCA5;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#diseño1
{
   box-sizing: border-box;
   padding: 15px 15px 15px 15px;
   margin-right: auto;
   margin-left: auto;
}
#diseño1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#diseño1 > .row > .col-1
{
   float: left;
}
#diseño1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#diseño1 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 15px;
}
#diseño1:before,
#diseño1:after,
#diseño1 .row:before,
#diseño1 .row:after
{
   display: table;
   content: " ";
}
#diseño1:after,
#diseño1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#diseño1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ar_texto1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#ar_texto1 div
{
   text-align: left;
}
#ar_diseño3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#diseño3
{
   box-sizing: border-box;
   padding: 35px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#diseño3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#diseño3 > .row > .col-1
{
   float: left;
}
#diseño3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#diseño3:before,
#diseño3:after,
#diseño3 .row:before,
#diseño3 .row:after
{
   display: table;
   content: " ";
}
#diseño3:after,
#diseño3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#diseño3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ar_diseño4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#diseño4
{
   box-sizing: border-box;
   padding: 0px 15px 5px 15px;
   margin-right: auto;
   margin-left: auto;
}
#diseño4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#diseño4 > .row > .col-1
{
   float: left;
}
#diseño4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#diseño4 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#diseño4:before,
#diseño4:after,
#diseño4 .row:before,
#diseño4 .row:after
{
   display: table;
   content: " ";
}
#diseño4:after,
#diseño4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#diseño4 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ar_texto2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#ar_texto2 div
{
   text-align: left;
}
#ar_img1
{
   margin: 0;
   vertical-align: top;
}
#img1
{
   border: 0px solid #000000;
   padding: 5px 5px 5px 5px;
   display: inline-block;
   width: 460px;
   height: 342px;
   vertical-align: top;
}
#ar_img2
{
   margin: 0;
   vertical-align: top;
}
#img2
{
   border: 0px solid #000000;
   padding: 5px 5px 5px 5px;
   display: inline-block;
   width: 460px;
   height: 342px;
   vertical-align: top;
}
#ar_img3
{
   margin: 0;
   vertical-align: top;
}
#img3
{
   border: 0px solid #000000;
   padding: 5px 5px 5px 5px;
   display: inline-block;
   width: 460px;
   height: 342px;
   vertical-align: top;
}
#ar_diseño6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#diseño6
{
   box-sizing: border-box;
   padding: 35px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#diseño6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#diseño6 > .row > .col-1
{
   float: left;
}
#diseño6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#diseño6:before,
#diseño6:after,
#diseño6 .row:before,
#diseño6 .row:after
{
   display: table;
   content: " ";
}
#diseño6:after,
#diseño6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#diseño6 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ar_diseño7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#diseño7
{
   box-sizing: border-box;
   padding: 0px 15px 5px 15px;
   margin-right: auto;
   margin-left: auto;
}
#diseño7 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño7 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#diseño7 > .row > .col-1
{
   float: left;
}
#diseño7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#diseño7 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#diseño7:before,
#diseño7:after,
#diseño7 .row:before,
#diseño7 .row:after
{
   display: table;
   content: " ";
}
#diseño7:after,
#diseño7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#diseño7 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ar_texto3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#ar_texto3 div
{
   text-align: left;
}
#ar_img4
{
   margin: 0;
   vertical-align: top;
}
#img4
{
   border: 0px solid #000000;
   padding: 5px 5px 5px 5px;
   display: inline-block;
   width: 460px;
   height: 332px;
   vertical-align: top;
}
#ar_img5
{
   margin: 0;
   vertical-align: top;
}
#img5
{
   border: 0px solid #000000;
   padding: 5px 5px 5px 5px;
   display: inline-block;
   width: 460px;
   height: 332px;
   vertical-align: top;
}
#ar_img6
{
   margin: 0;
   vertical-align: top;
}
#img6
{
   border: 0px solid #000000;
   padding: 5px 5px 5px 5px;
   display: inline-block;
   width: 460px;
   height: 332px;
   vertical-align: top;
}
#ar_texto4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#ar_texto4 div
{
   text-align: left;
}
#ar_diseño10
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#diseño10
{
   box-sizing: border-box;
   padding: 35px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#diseño10 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño10 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#diseño10 > .row > .col-1
{
   float: left;
}
#diseño10 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#diseño10:before,
#diseño10:after,
#diseño10 .row:before,
#diseño10 .row:after
{
   display: table;
   content: " ";
}
#diseño10:after,
#diseño10 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#diseño10 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ar_diseño11
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#diseño11
{
   box-sizing: border-box;
   padding: 0px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#diseño11 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño11 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#diseño11 > .row > .col-1
{
   float: left;
}
#diseño11 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#diseño11 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#diseño11:before,
#diseño11:after,
#diseño11 .row:before,
#diseño11 .row:after
{
   display: table;
   content: " ";
}
#diseño11:after,
#diseño11 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#diseño11 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ar_texto5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#ar_texto5 div
{
   text-align: left;
}
#ar_img7
{
   margin: 0;
   vertical-align: top;
}
#img7
{
   border: 0px solid #000000;
   padding: 5px 5px 5px 5px;
   display: inline-block;
   width: 460px;
   height: 460px;
   vertical-align: top;
}
#ar_img8
{
   margin: 0;
   vertical-align: top;
}
#img8
{
   border: 0px solid #000000;
   padding: 5px 5px 5px 5px;
   display: inline-block;
   width: 460px;
   height: 435px;
   vertical-align: top;
}
#ar_img9
{
   margin: 0;
   vertical-align: top;
}
#img9
{
   border: 0px solid #000000;
   padding: 5px 5px 5px 5px;
   display: inline-block;
   width: 460px;
   height: 460px;
   vertical-align: top;
}
#ar_cc1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px dotted #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#cc1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#ar_cc1
{
   display: flex;
   width: 100%;
   text-align: center;
   z-index: 6;
}
#ar_img1
{
   display: inline-block;
   width: 470px;
   height: 352px;
   z-index: 3;
}
#ar_img2
{
   display: inline-block;
   width: 470px;
   height: 352px;
   z-index: 5;
}
#ar_img3
{
   display: inline-block;
   width: 470px;
   height: 352px;
   z-index: 4;
}
#ar_img4
{
   display: inline-block;
   width: 470px;
   height: 342px;
   z-index: 8;
}
#ar_img5
{
   display: inline-block;
   width: 470px;
   height: 342px;
   z-index: 9;
}
#ar_img6
{
   display: inline-block;
   width: 470px;
   height: 342px;
   z-index: 10;
}
#ar_img7
{
   display: inline-block;
   width: 470px;
   height: 470px;
   z-index: 12;
}
#ar_img8
{
   display: inline-block;
   width: 470px;
   height: 445px;
   z-index: 13;
}
#ar_img9
{
   display: inline-block;
   width: 470px;
   height: 470px;
   z-index: 14;
}
@media only screen and (min-width: 700px) and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#ar_diseño8
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #8FB996;
   background-image: none;
}
#ar_diseño8
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño8
{
   padding: 5px 15px 5px 15px;
}
#diseño8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño8 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño8 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño8 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 15px;
}
#ar_diseño1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #A1CCA5;
   background-image: none;
}
#ar_diseño1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño1
{
   padding: 15px 15px 15px 15px;
}
#diseño1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño1 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño1 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 15px;
}
#ar_texto1
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto1
{
   margin: 0;
   padding: 0;
}
#ar_diseño3
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño3
{
   padding: 35px 15px 25px 15px;
}
#diseño3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#ar_diseño4
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño4
{
   padding: 0px 15px 5px 15px;
}
#diseño4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño4 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño4 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#ar_texto2
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto2
{
   margin: 0;
   padding: 0;
}
#ar_img1
{
   width: 290px;
   height: 217px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img1
{
   width: 290px;
   height: 217px;
}
#ar_img2
{
   width: 290px;
   height: 217px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img2
{
   width: 290px;
   height: 217px;
}
#ar_img3
{
   width: 290px;
   height: 217px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img3
{
   width: 290px;
   height: 217px;
}
#ar_diseño6
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño6
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño6
{
   padding: 35px 15px 25px 15px;
}
#diseño6 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño6 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño6 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#ar_diseño7
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño7
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño7
{
   padding: 0px 15px 5px 15px;
}
#diseño7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño7 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño7 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#ar_texto3
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto3
{
   margin: 0;
   padding: 0;
}
#ar_img4
{
   width: 290px;
   height: 211px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img4
{
   width: 290px;
   height: 211px;
}
#ar_img5
{
   width: 290px;
   height: 211px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img5
{
   width: 290px;
   height: 211px;
}
#ar_img6
{
   width: 290px;
   height: 211px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img6
{
   width: 290px;
   height: 211px;
}
#ar_texto4
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto4
{
   margin: 0;
   padding: 0;
}
#ar_diseño10
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño10
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño10
{
   padding: 35px 15px 25px 15px;
}
#diseño10 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño10 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño10 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#ar_diseño11
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño11
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño11
{
   padding: 0px 15px 25px 15px;
}
#diseño11 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño11 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño11 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño11 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#ar_texto5
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto5
{
   margin: 0;
   padding: 0;
}
#ar_img7
{
   width: 262px;
   height: 262px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img7
{
   width: 262px;
   height: 262px;
}
#ar_img8
{
   width: 262px;
   height: 248px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img8
{
   width: 262px;
   height: 248px;
}
#ar_img9
{
   width: 262px;
   height: 262px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img9
{
   width: 262px;
   height: 262px;
}
#ar_cc1
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
}
@media only screen and (min-width: 425px) and (max-width: 699px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#ar_diseño8
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #8FB996;
   background-image: none;
}
#ar_diseño8
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño8
{
   padding: 5px 15px 5px 15px;
}
#diseño8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño8 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño8 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño8 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 15px;
}
#ar_diseño1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #A1CCA5;
   background-image: none;
}
#ar_diseño1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño1
{
   padding: 15px 15px 15px 15px;
}
#diseño1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño1 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño1 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 15px;
}
#ar_texto1
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto1
{
   margin: 0;
   padding: 0;
}
#ar_diseño3
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño3
{
   padding: 35px 15px 25px 15px;
}
#diseño3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#ar_diseño4
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño4
{
   padding: 0px 15px 5px 15px;
}
#diseño4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño4 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño4 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#ar_texto2
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto2
{
   margin: 0;
   padding: 0;
}
#ar_img1
{
   width: 290px;
   height: 217px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img1
{
   width: 290px;
   height: 217px;
}
#ar_img2
{
   width: 290px;
   height: 217px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img2
{
   width: 290px;
   height: 217px;
}
#ar_img3
{
   width: 290px;
   height: 217px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img3
{
   width: 290px;
   height: 217px;
}
#ar_diseño6
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño6
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño6
{
   padding: 35px 15px 25px 15px;
}
#diseño6 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño6 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño6 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#ar_diseño7
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño7
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño7
{
   padding: 0px 15px 5px 15px;
}
#diseño7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño7 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño7 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#ar_texto3
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto3
{
   margin: 0;
   padding: 0;
}
#ar_img4
{
   width: 290px;
   height: 211px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img4
{
   width: 290px;
   height: 211px;
}
#ar_img5
{
   width: 290px;
   height: 211px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img5
{
   width: 290px;
   height: 211px;
}
#ar_img6
{
   width: 290px;
   height: 211px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img6
{
   width: 290px;
   height: 211px;
}
#ar_texto4
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto4
{
   margin: 0;
   padding: 0;
}
#ar_diseño10
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño10
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño10
{
   padding: 35px 15px 25px 15px;
}
#diseño10 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño10 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño10 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#ar_diseño11
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño11
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño11
{
   padding: 0px 15px 25px 15px;
}
#diseño11 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño11 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño11 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño11 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#ar_texto5
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto5
{
   margin: 0;
   padding: 0;
}
#ar_img7
{
   width: 262px;
   height: 262px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img7
{
   width: 262px;
   height: 262px;
}
#ar_img8
{
   width: 262px;
   height: 248px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img8
{
   width: 262px;
   height: 248px;
}
#ar_img9
{
   width: 262px;
   height: 262px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img9
{
   width: 262px;
   height: 262px;
}
#ar_cc1
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
}
@media only screen and (min-width: 384px) and (max-width: 424px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#ar_diseño8
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #8FB996;
   background-image: none;
}
#ar_diseño8
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño8
{
   padding: 5px 15px 5px 15px;
}
#diseño8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño8 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño8 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño8 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 15px;
}
#ar_diseño1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #A1CCA5;
   background-image: none;
}
#ar_diseño1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño1
{
   padding: 15px 15px 15px 15px;
}
#diseño1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño1 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño1 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 15px;
}
#ar_texto1
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto1
{
   margin: 0;
   padding: 0;
}
#ar_diseño3
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño3
{
   padding: 35px 15px 25px 15px;
}
#diseño3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#ar_diseño4
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño4
{
   padding: 0px 15px 5px 15px;
}
#diseño4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño4 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño4 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#ar_texto2
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto2
{
   margin: 0;
   padding: 0;
}
#ar_img1
{
   width: 290px;
   height: 217px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img1
{
   width: 290px;
   height: 217px;
}
#ar_img2
{
   width: 290px;
   height: 217px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img2
{
   width: 290px;
   height: 217px;
}
#ar_img3
{
   width: 290px;
   height: 217px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img3
{
   width: 290px;
   height: 217px;
}
#ar_diseño6
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño6
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño6
{
   padding: 35px 15px 25px 15px;
}
#diseño6 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño6 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño6 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#ar_diseño7
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño7
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño7
{
   padding: 0px 15px 5px 15px;
}
#diseño7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño7 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño7 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#ar_texto3
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto3
{
   margin: 0;
   padding: 0;
}
#ar_img4
{
   width: 290px;
   height: 211px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img4
{
   width: 290px;
   height: 211px;
}
#ar_img5
{
   width: 290px;
   height: 211px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img5
{
   width: 290px;
   height: 211px;
}
#ar_img6
{
   width: 290px;
   height: 211px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img6
{
   width: 290px;
   height: 211px;
}
#ar_texto4
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto4
{
   margin: 0;
   padding: 0;
}
#ar_diseño10
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño10
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño10
{
   padding: 35px 15px 25px 15px;
}
#diseño10 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño10 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño10 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#ar_diseño11
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño11
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño11
{
   padding: 0px 15px 25px 15px;
}
#diseño11 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño11 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño11 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño11 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#ar_texto5
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto5
{
   margin: 0;
   padding: 0;
}
#ar_img7
{
   width: 262px;
   height: 262px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img7
{
   width: 262px;
   height: 262px;
}
#ar_img8
{
   width: 262px;
   height: 248px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img8
{
   width: 262px;
   height: 248px;
}
#ar_img9
{
   width: 262px;
   height: 262px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img9
{
   width: 262px;
   height: 262px;
}
#ar_cc1
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
}
@media only screen and (max-width: 383px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#ar_diseño8
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #8FB996;
   background-image: none;
}
#ar_diseño8
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño8
{
   padding: 5px 15px 5px 15px;
}
#diseño8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño8 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño8 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño8 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 15px;
}
#ar_diseño1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #A1CCA5;
   background-image: none;
}
#ar_diseño1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño1
{
   padding: 15px 15px 15px 15px;
}
#diseño1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño1 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño1 > .row > .col-1 > .col-1-padding
{
   padding: 0px 0px 0px 15px;
}
#ar_texto1
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto1
{
   margin: 0;
   padding: 0;
}
#ar_diseño3
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño3
{
   padding: 35px 15px 25px 15px;
}
#diseño3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#ar_diseño4
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño4
{
   padding: 0px 15px 5px 15px;
}
#diseño4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño4 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño4 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#ar_texto2
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto2
{
   margin: 0;
   padding: 0;
}
#ar_img1
{
   width: 270px;
   height: 202px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img1
{
   width: 270px;
   height: 202px;
}
#ar_img2
{
   width: 270px;
   height: 202px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img2
{
   width: 270px;
   height: 202px;
}
#ar_img3
{
   width: 270px;
   height: 202px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img3
{
   width: 270px;
   height: 202px;
}
#ar_diseño6
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño6
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño6
{
   padding: 35px 15px 25px 15px;
}
#diseño6 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño6 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño6 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#ar_diseño7
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño7
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño7
{
   padding: 0px 15px 5px 15px;
}
#diseño7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño7 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño7 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#ar_texto3
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto3
{
   margin: 0;
   padding: 0;
}
#ar_img4
{
   width: 270px;
   height: 196px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img4
{
   width: 270px;
   height: 196px;
}
#ar_img5
{
   width: 270px;
   height: 196px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img5
{
   width: 270px;
   height: 196px;
}
#ar_img6
{
   width: 270px;
   height: 196px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img6
{
   width: 270px;
   height: 196px;
}
#ar_texto4
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto4
{
   margin: 0;
   padding: 0;
}
#ar_diseño10
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño10
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño10
{
   padding: 35px 15px 25px 15px;
}
#diseño10 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño10 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño10 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#ar_diseño11
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#ar_diseño11
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#diseño11
{
   padding: 0px 15px 25px 15px;
}
#diseño11 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#diseño11 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#diseño11 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#diseño11 > .row > .col-1 > .col-1-padding
{
   padding: 10px 10px 10px 10px;
}
#ar_texto5
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#ar_texto5
{
   margin: 0;
   padding: 0;
}
#ar_img7
{
   width: 262px;
   height: 262px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img7
{
   width: 262px;
   height: 262px;
}
#ar_img8
{
   width: 262px;
   height: 248px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img8
{
   width: 262px;
   height: 248px;
}
#ar_img9
{
   width: 262px;
   height: 262px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 5px 5px 5px 5px;
}
#img9
{
   width: 262px;
   height: 262px;
}
#ar_cc1
{
   width: 100%;
   visibility: visible;
   display: flex;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
}
